In [2]:
import pandas as pd

# reading csv files
durant = pd.read_csv('Durant_2011_2012.csv')
james = pd.read_csv('James_2011_2012.csv')

In [4]:
durant.head()

   REB  AST  TOV  PF  PTS
0    5    4    5   4   32
1    9    1    3   2   32
2    8    3    5   3   35
3   14    7    4   0   29
4   11    5    5   4   29

In [6]:
james.head()

   REB  AST  TOV  PF  PTS
0    8    5    5   1   32
1   11    6    1   3   27
2    5    4    5   0   28
3    6    7    4   2   37
4   10    3    6   4   29

In [7]:
durant['REB'].mean() - james['REB'].mean()

0.049364613880742425

In [16]:
from sklearn.utils import resample
import numpy as np

# defining a list to store results
REB_diff = list()

for i in range(0, 100):
    
    # simulating data
    durant_sim = resample(durant['REB'], replace = True)
    james_sim = resample(james['REB'], replace = True)
    
    # computing average
    durant_REB_avg = np.mean(durant_sim)
    james_REB_avg = np.mean(james_sim)
    
    # computing difference in average rebounds
    diff = durant_REB_avg - james_REB_avg
    REB_diff.append(diff)

In [19]:
# simulated average difference rebounds
np.mean(REB_diff)

0.14495601173020525

In [20]:
# estimating margin of error
np.std(REB_diff, ddof = 1)

# Estimate interval
# 0.0493 +/- 0.53

# The difference is not significant because the interval contains 0.

0.5309801560937578