In [2]:
import pandas as pd
import numpy as np
from sklearn.utils import resample

curry = pd.read_csv('Curry_2016_2017.csv')
thompson = pd.read_csv('Thompson_2016_2017.csv')

In [2]:
curry.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2016-10-25,28-225,GSW,NaN,SAS,L (-29),1,34:06,...,3,3,4,0,0,4,1,26,15.9,-9
1,2,2,2016-10-28,28-228,GSW,@,NOP,W (+8),1,34:04,...,0,1,8,1,0,4,3,23,14.6,4
2,3,3,2016-10-30,28-230,GSW,@,PHO,W (+6),1,34:13,...,1,1,3,0,0,1,5,28,19.1,0
3,4,4,2016-11-01,28-232,GSW,@,POR,W (+23),1,29:30,...,3,4,3,1,0,4,3,28,16.4,24
4,5,5,2016-11-03,28-234,GSW,NaN,OKC,W (+26),1,30:03,...,1,1,7,2,1,1,1,21,19.7,17

In [3]:
thompson.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2016-10-25,26-260,GSW,NaN,SAS,L (-29),1,33:21,...,1,1,2,0,0,1,4,11,3.0,-6
1,2,2,2016-10-28,26-263,GSW,@,NOP,W (+8),1,38:57,...,2,2,4,1,0,1,0,28,21.1,4
2,3,3,2016-10-30,26-265,GSW,@,PHO,W (+6),1,40:03,...,6,6,2,0,1,2,3,14,5.8,14
3,4,4,2016-11-01,26-267,GSW,@,POR,W (+23),1,30:13,...,3,5,4,0,0,2,4,14,6.0,4
4,5,5,2016-11-03,26-269,GSW,NaN,OKC,W (+26),1,32:58,...,0,1,3,2,1,2,3,18,13.3,7

In [5]:
# average points per game for curry
curry['PTS'].mean()

25.303797468354432

In [14]:
# margin of error for curry
2*curry['PTS'].std() / np.sqrt(curry.shape[0])

1.7315276954705145

In [6]:
# average points per game for thompson
thompson['PTS'].mean()

22.333333333333332

In [15]:
# margin of error for thompson
2*thompson['PTS'].std() / np.sqrt(thompson.shape[0])

1.807103556972667

In [13]:
# difference in average points per game
curry['PTS'].mean() - thompson['PTS'].mean()

2.9704641350211

In [17]:
curry_PTS_avg = list()
thompson_PTS_avg = list()


for i in range(0, 1000):
    
    # simulating data
    curry_sim = resample(curry['PTS'], replace = True)
    thompson_sim = resample(thompson['PTS'], replace = True)
    
    # computing average
    curry_avg = np.mean(curry_sim)
    thompson_avg = np.mean(thompson_sim)
    
    # computing difference in average points
    curry_PTS_avg.append(curry_avg)
    thompson_PTS_avg.append(thompson_avg)

In [10]:
np.mean(curry_PTS_avg)

# These results are a little bit higher (about 1) than our results from part B.

26.037974683544302

In [11]:
np.mean(thompson_PTS_avg)

# These results are closer than curry, without results only differing by .2 from part B.

22.115384615384617

In [19]:
# estimating margin of error for curry
np.std(curry_PTS_avg, ddof = 1)

# Estimating Interval for curry
# 1.731 +/- 0.0905
# (1.6405, 1.8215)

# This is significant bceause 0 is not within our interval.

0.9056251029384207

In [21]:
# estimating margin of error for thompson
np.std(thompson_PTS_avg, ddof = 1)

# Estimtaing interval for thompson
# 1.807 +/- 0.905
# (0.902, 2.712)

# This is significant because 0 is not within our interval.

0.9150206705794213

In [5]:
PTS_diff = list()

for i in range(0, 1000):
    
    # simulating data
    curry_sim = resample(curry['PTS'], replace = True)
    thompson_sim = resample(thompson['PTS'], replace = True)
    
    # computing average
    curry_PTS_avg = np.mean(curry_sim)
    thompson_PTS_avg = np.mean(thompson_sim)
    
    # computing difference in average points
    diff = curry_PTS_avg - thompson_PTS_avg
    PTS_diff.append(diff)

In [7]:
# simulated average difference in points
np.mean(PTS_diff)

3.0046194417396954

In [8]:
# estimating margin of error
np.std(PTS_diff, ddof = 1)

# Estimating interval
# 2.970 +/- 1.208
# (1.762, 4.178)

# This difference would be significant because 0 is not within our interval.

1.2080275485730132